{% extends "header.html" %}
{% block title %}Bin | {% endblock %}

{% block count %}{{ cart.count }}{% endblock %}
{% block price %}{{ cart.price }}{% endblock %}
{% block header%}{{ super() }}{% endblock %}

{% block main %}
<main class="container">
  <h1 class="h3 my-4">Корзина</h1>
  {% if is_deleted %}
  <div class="alert alert-warning" role="alert">Блюдо удалено из корзины</div>
  {% endif %}
  <div class="row mt-5">
      <form action="{{ url_for('cart')}}" method="POST" class="col-4">
        {{ form.csrf_token }}
        <h4 class="">Ваши данные</h4>
        {% for field in [form.name, form.phone, form.address, form.mail] %}
        {% for err in form.errors[field.name] %}
        <div style="color:red;">
          {{ err }}
        </div>
        {% endfor %}
        <div class=" md-4 order-md-1 form-label-group">
          <div class="mt-3 mb-3">
            {{ field.label }}
            {{ field(class_="font-weight-bold form-control") }}
          </div>
        </div>
        {% endfor %}
        {{ form.submit(class_="mt-3 mb-5 btn btn-danger")}}
        <!--<button type="submit" class=" mt-3 mb-5 btn btn-danger">Оформить заказ</button> -->
      </form>
    <div class="col-1"></div>
    <div class="col-7">
      <h4 class="mb-3 col-7 mb-5">{{ cart.count }} блюда в корзине</h4>
      <table class="table">
        <tbody>
          {% for meal in cart.meals %}
          <tr>
            <th scope="row">{{ meal.title }}</th>
            <td></td>
            <td>1</td>
            <td>{{ meal.price }}</td>
            <td><a class="text-danger" href="{{ url_for('delete_from_cart', meal_id = meal.id) }}">Удалить</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <hr>
      <p class="display-4 my-2 ">{{ cart.price }} руб</p>
    </div>
  </div>
</main>
{% endblock main %}