{% extends "base.html" %}
{% block header %}
<header class="container mt-3">
  <nav class="py-1 navbar navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <a href="{{ url_for('main') }}">
        <p class=" h5 my-2 text-white bg-dark">Stepik Delivery</p>
      </a>
    </ul>
    <a href="{{ url_for('cart') }}">
      <p class="my-2 text-white bg-dark ">Корзина ({% block count %}{% endblock %} блюда {% block price%}{% endblock %}
        руб.)</p>
    </a>
    <img class="ml-2" src="/static/pictures/cart.jfif" width="24" height="25">
  </nav>
</header>
{% endblock header %}

{% block footer %}
<footer class="container mt-3">
  <nav class="mt-5 navbar navbar-light bg-light">
    <ul class="navbar-nav mr-auto">
      <a href="{{ url_for('main') }}">
        <p class="h4 nav-link">Stepik Delivery</p>
      </a>
    </ul>
    <a class="text-muted" href="#">Project author 2020</a>
  </nav>
</footer>
{% endblock footer %}